/.AdminContent.java._trace
/.EnumTransformer.java._trace
/.CategTransformer.java._trace
/.ClasifTransformer.java._trace
/.AdminContent.xtendbin
/.AdminMain.java._trace
/.AdminMain.xtendbin
/.AdminMovie.java._trace
/.AdminMovie.xtendbin
/AdminContent.java
/AdminMain.java
/AdminMovie.java
