/.Pelicula.java._trace
/.Serie.java._trace
/.Usuario.java._trace
/.Categoria.java._trace
/.Categoria.xtendbin
/.Clasificacion.java._trace
/.Clasificacion.xtendbin
/.Contenido.java._trace
/.Contenido.xtendbin
/.Pelicula.xtendbin
/.Serie.xtendbin
/.TrailFlix.java._trace
/.TrailFlix.xtendbin
/.Usuario.xtendbin
/Categoria.java
/Clasificacion.java
/Contenido.java
/Pelicula.java
/Serie.java
/TrailFlix.java
/Usuario.java
/.Capitulo.java._trace
/.Capitulo.xtendbin
/Capitulo.java
